.select-language,
.select-language:hover {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 20px 50px 0 0;
  justify-content: center;
  color: white !important;
  border: 1px solid #727288 !important;
  background-color: #1e1e2e !important;
}

.content {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}

.login-form {
  color: white;
}

.form {
  color: white;
  height: 45px;
  margin-top: 10px;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  border-color: red !important;
  background-color: #1e1e2e !important;
}

.form .error {
  border: 1px solid red;
}

.form:focus,
.form:hover,
.form:active,
.ant-input,
.ant-input-password {
  color: white !important;
  border: 1px solid #727288;
}

.ant-input-password-icon > svg {
  fill: #ff7506;
}

.ant-checkbox-wrapper .ant-checkbox-inner {
  border-color: #347aff !important;
  background-color: #1e1e2e !important;
}

.btnLogin {
  width: 200px;
  height: 50px;
  color: white;
  border: 1px solid #ff7506;
  background-color: #ff7506;
}

.btnLogin:hover {
  color: white !important;
  border-color: #ff9200 !important;
  background-color: #ff9200 !important;
}

.footer {
  left: 0;
  bottom: 0;
  margin-bottom: 30px;
  width: 100%;
  position: fixed;
  text-align: center;
}

.footer-content {
  color: #ff7506;
  padding: 10px 0;
}
